node_modules/
node_modules
/node_modules
./node_modules
node_modules/*
package-lock.json
/package-lock.json
./package-lock.json
yarn-error.log
/yarn-error.log
./yarn-error.log
yarn.lock
/yarn.lock
./yarn.lock
# build
# /build
# ./build
# build/
# build/*